body{
    background: #cdc8c8!important;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

/*parte de la barra de navegacion*/
img.logo{
    width: 55px;
    height: 55px;
}
#nav{
    position: absolute;
    width: 100%;

}

/*parte del footer*/

footer{
    /* background: #2e2b2b; */
    padding-top: 30px;
    background: #474747;
    width: 100%;
    align-self: flex-end;
}

#logo{
    margin: 25px 5px 25px 0px;
    width: 200px;
    height: 100px;
    border-radius:8px ;
}


p.footerSpan{
    color: yellow;
    text-decoration: underline;
    cursor:default;
}

a{
    text-decoration: none !important;
    margin: 0px 15px 0px 15px;
}

li.socialM{
    list-style-type: none;
}

/* la parte del dropdown */
#nav > li {
    float:left;
}

#nav li a {
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    border-radius: 5px;
}

#nav li a:hover {
    background-color:#4d4d4d;
}

#nav li ul {
   display:none;
    position:absolute;
    min-width:140px;
}

#nav li:hover > ul {
    display:block;
    background-color: #434343;
    list-style-type: none;
    border-radius: 5px;
}


#nav li ul li {
    position:relative;
}

#nav li ul li ul {
    right:-140px;
    top:0px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
