body{
    background: #cdc8c8!important;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

/*parte de la barra de navegacion*/
img.logo{
    width: 55px;
    height: 55px;
}
#nav{
    position: absolute;
    width: 100%;

}



/*parte del Acerca de*/

.contenedor {
    padding: 40px;
    color: white;
    
  
    
    
}
#about {
    color: #091726;
    
    padding-top: 120px;
  
}

.imagen1 {
padding-top: 20px;
    width: 75%;
    height: 270px;
  
  }
  

        


#about H2 {
    padding-bottom: 50px;
    text-align: center;
    border:  7px solid;
    background-color: #212529;
    box-shadow: 7px 0px 37px 20px #ffffff;
}

#about p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    
  
}

.acerca-medio {
    padding: 0px;
    border:  7px solid;
    background-color: #212529;
    box-shadow: 7px 30px 37px 20px #ffffff;
}

/*parte de Mision*/

.contenedor2{
    padding: 40px;
    color: white;
}


.imagen2 {
    padding-top: 0px;
    padding-bottom: 20px;
        width: 65%;
        height: 270px;
      
      }
    

#mision{
   
    padding-top: 20px;
}

#mision h2{
    padding-bottom: 50px;
    text-align: center;
    border:  7px solid;
    background-color:#212529;
    box-shadow: 7px 0px 37px 20px #ffffff;
}

#mision p{
    padding-bottom: 60px;
    text-align: center;
}

.misioncuadro{
    padding: 50px;
    border:  7px solid;
    background-color: #212529;
    box-shadow: 7px 30px 37px 20px #ffffff;
}

/*parte de Vision*/
.contenedor3{
    padding: 40px;
    color: white;
}

.imagen3 {
    padding-top: 0px;
    padding-bottom: 20px;
        width: 65%;
        height: 255px;
      
      }

#vision{
  
    padding-top: 10px;
}

#vision h2{
    padding-bottom: 50px;
    text-align: center;
    border:  7px solid;
    background-color: #212529;
    box-shadow: 7px 0px 37px 20px #ffffff;
}

#vision p{
    padding-bottom: 60px;
    text-align: center;
}

.visioncuadro{
    padding: 50px;
    border:  7px solid;
    background-color: #212529;
    box-shadow: 7px 30px 37px 20px #ffffff;
}

/*parte de Vision*/
.contenedor4{
    padding: 40px;
    color: white;
   
}

#nombres{
  width: 1400px;
    padding-top: 10px;
}

#nombres h2{
    padding-bottom: 50px;
    text-align: center;
    border:  7px solid;
    background-color: #212529;
    box-shadow: 7px 0px 37px 20px #ffffff;
}

#nombres p{
    padding-bottom: 10px;
    text-align: center;
}

.nombrescuadro{
    padding: 50px;
    border:  7px solid;
    background-color: #212529;
    box-shadow: 7px 30px 37px 20px #ffffff;
}

/* parte del footer  */
footer{
    background: #474747;
    width: 100%;
    align-self: flex-end;
   
}

#logo{
    margin: 25px 5px 25px 0px;
    width: 200px;
    height: 100px;
    border-radius:8px ;
    
    

}

#banner{
    display: block;

}


p.footerSpan{
    color: yellow;
    text-decoration: underline;
    cursor:default;
}

a{
    text-decoration: none !important;
    margin: 0px 15px 0px 15px;
}

li.socialM{
    list-style-type: none;
}

/* la parte del dropdown */
#nav > li {
    float:left;
}

#nav li a {
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    border-radius: 5px;
}

#nav li a:hover {
    background-color:#4d4d4d;
}

#nav li ul {
   display:none;
    position:absolute;
    min-width:140px;
    z-index: 99 !important;
}

#nav li:hover > ul {
    display:block;
    background-color: #434343;
    list-style-type: none;
    border-radius: 5px;
    
}


#nav li ul li {
    position:relative;
    z-index: 99 !important;
    
}

#nav li ul li ul {
    right:-140px;
    top:0px;
}

#slider_container{
    display: block;
    background-color: red !important;
    width: 100% !important;
}
