*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:sans-serif ;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right,red,#68E544);
}

form #button2{
    width: 55px;
    position: absolute;
    border-style:none;
    background: #68E544;
    padding: 3px;
    border-radius: 3px;
}

form #button2:hover{
    border-style: dotted;
}

form #button2:focus{
    border-style: dotted;
    color: #fff;
}
form{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7); 
}

form .title{
    font-family: Arial;
    color: #252525;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label{
    margin-bottom: 35px;

}

form label .fa-solid{
    font-size: 20px;
    color: #497699;
    margin-right: 10px;
}

form label input{
    outline: none;
    border: none;
    color: #2525;
    border-bottom: solid 1px #497699;
    padding: 0 5px;
    font-size: 18px; 
}

form label input::placeholder{
    color: rgba(37,37,37, 0.5);
}

form .link{
    color: #252525;
    margin-bottom: 15px;
}

form #button1{
    color: #fff;
    border-radius: 5px;
    background:linear-gradient(to right, #cb232c,#68E544) ;
    padding: grab;
    cursor: pointer;
    font-size: 20px;
}

form #button1:hover{
    background:linear-gradient(to right, #68E544,#cb232c) ;
    font-size: 21px;
    color: #252525 !important;
}

form #button1:focus{
    color: #fff !important;
}

a{
    text-decoration: none;
}
a:hover{
color: blue;
}

a:focus{
    color: red;
}