
body{
    background: #cdc8c8!important;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
/* parte de la barar de navegacion */
img.logo{
    width: 55px;
    height: 55px;
}
#nav{
    
    width: 100%;
    z-index: 99;

}

/* parte del contenido de la pagina arriba  */

.carousel img{
    border-radius: 15px;
    margin: 35px 0px 0px 60px;
    
}

#btn1{
    margin:15px 35px 10px 3px;
    font-size: 23px;
    padding: 10px 25px 10px 25px;
}

#btn1:hover{
    background-color: orange !important;
}

/* parte del contenido de la pagina abajo */

.last img{
    border-radius:15px ;
}

.last .tendencias{
    position: relative;
    width: 550px;
    height: 300px;
    margin: 55px 35px 35px 0px;
    margin-left:100px ;
}

.last .nuevos{
    position: relative;
    width: 525px;
    height: 155px;
    top: -70px;
}

.last .otro{
    position: relative;
    left: 689px;
    top: -130px;
    width: 525px;
    height: 155px;
    
}


/*parte del Acerca de*/

.contenedor {
    padding: 40px;
  
    
    
}
#about {
    color: #091726;
    height: 95vh;
    padding-top: 120px;
    
    
    
}

#about H2 {
    padding-bottom: 50px;
    text-align: center;
    border-style: solid;
    background-color: grey;
    
}

#about p {

    padding-bottom: 60px;
    text-align: center;
    
  
}

.acerca-medio {
    padding: 50px;
    border-style: solid;
    background-color: gray;
    
}

/*parte de Mision*/

.contenedor2{
    padding: 40px;
}

#mision{
    height: 70vh;
    padding-top: 20px;
}

#mision h2{
    padding-bottom: 50px;
    text-align: center;
    border-style: solid;
    background-color: grey;
}

#mision p{
    padding-bottom: 60px;
    text-align: center;
}

.misioncuadro{
    padding: 50px;
    border-style: solid;
    background-color: gray;
}

/*parte de Vision*/
.contenedor3{
    padding: 40px;
}

#vision{
    height:80vh;
    padding-top: 10px;
}

#vision h2{
    padding-bottom: 50px;
    text-align: center;
    border-style: solid;
    background-color: grey;
}

#vision p{
    padding-bottom: 60px;
    text-align: center;
}

.visioncuadro{
    padding: 50px;
    border-style: solid;
    background-color: gray;
}



/* parte del footer  */
footer{
    background: #474747;
    width: 100%;
    align-self: flex-end;
   
}

#logo{
    margin: 25px 5px 25px 0px;
    width: 200px;
    height: 100px;
    border-radius:8px ;
    
    

}

#banner{
    display: block;

}


p.footerSpan{
    color: yellow;
    text-decoration: underline;
    cursor:default;
}

a{
    text-decoration: none !important;
    margin: 0px 15px 0px 15px;
}

li.socialM{
    list-style-type: none;
}

/* la parte del dropdown */
#nav > li {
    float:left;
}

#nav li a {
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    border-radius: 5px;
}

#nav li a:hover {
    background-color:#4d4d4d;
}

#nav li ul {
   display:none;
    position:absolute;
    min-width:140px;
    z-index: 99 !important;
}

#nav li:hover > ul {
    display:block;
    background-color: #434343;
    list-style-type: none;
    border-radius: 5px;
    
}


#nav li ul li {
    position:relative;
    z-index: 99 !important;
    
}

#nav li ul li ul {
    right:-140px;
    top:0px;
}

#slider_container{
    display: block;
    background-color: red !important;
    width: 100% !important;
}
